@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0 8px;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
	line-height: 1.5rem;
}

body {
	background-color: rgb(20, 20, 20);
	color: rgb(255, 255, 255);
	padding-bottom: 80px;
}

.deactiv {
	text-align: left;
	padding: 10px 0;
}
	.container-fluid {
		padding: 400px;
		text-align: center;
	}

	.multiText1{
		color: rgb(82, 247, 211);
		line-height: 2.2rem;
	}
.last-part {
	display: none;
}
	
